<div class="wallpaper">
<img class="images" src="../../assets/profile2.jpg" alt="img">
</div>
<div class="sidelist">
  <button mat-raised-button color="success" (click)="scrollTo('sports')">Sports</button>
  <button mat-raised-button color="success" (click)="scrollTo('security')">Security</button>
  <button mat-raised-button color="success" (click)="scrollTo('development')">development</button>
</div>
<div class="maindesc">
  <br>
  <div class="subdesc" id='me'>
    <h1>I'm Karyamsetty Martin ,
      a Mechanical Engineering undergraduate at Indian Institute of Technology (BHU), Varanasi.
  </h1>
  </div>
  <br>
  <div class="subdesc" id='development'>
    <h1>I started coding around the time my second semester ended ,started out with C++ then Python and over time i picked up PHP and TypeScript  .
 As for my skills I've had practical experience in backend REST development, JAMstack frontend development , livestreaming app development </h1>
  </div>
  <br>
  <div class="subdesc" id='security'>
    <h1>I have no practical experience in cybersecurity.I learnt cryptanalysis,Basics of cyber Forensics,Basics of network security, Web Explotaation playing CTFs</h1>
  </div>
  <br>
  <div class="subdesc" id = 'sports'>
    <h1>I have always held an enthusiasm for combat sports and have practiced Taekwondo and Judo as a kid.
      My time at my university introduced me to Boxing.I have very ow intrest in ball sports except for basketball</h1>
  </div>
</div>
