<div>
<div class="profile">
  <br>
  <img class="images" src="../../assets/profile.jpg" alt="img">
 <h1 class="monospace">Karyamsetty Martin</h1>
 <h3 class="monospace">Full Stack Web developer</h3>
 <div class="selflinks">
    <a href="https://github.com/AngryCder"> <fa-icon [icon]="['fab', 'github']"  size="5x" class="git"></fa-icon></a>
    <a href="https://twitter.com/angry_cder"><fa-icon [icon]="['fab', 'twitter']"  size="5x" class="twitter"></fa-icon></a>
    <a href="https://github.com/AngryCder"><fa-icon [icon]="['fab', 'instagram']"  size="5x" class="insta"></fa-icon></a>
  </div>
</div>

<div class="main">
  <div class="sub1">
       login
  </div>
  <div class="sub2">
    <a href="https://angrycder.herokuapp.com/accounts/google/login"><img src="../../assets/glogo.jpg" class="images2"></a>
    <a href="https://angrycder.herokuapp.com/accounts/google/login"><img src="../../assets/github.jpg" class="images2"></a>
  </div>
</div>

<div class="seprate">
<button mat-raised-button color="success" (click)='goToAbout()' >Curious?</button>
</div>
</div>
